[submodule "lib/jquery-tmpl"]
	path = lib/jquery-tmpl
	url = https://github.com/jquery/jquery-tmpl.git
[submodule "lib/pixastic"]
	path = lib/pixastic
	url = https://github.com/kpdecker/pixastic.git
[submodule "test/qunit"]
	path = test/qunit
	url = https://github.com/jquery/qunit.git
[submodule "lib/user-image-cache"]
	path = lib/user-image-cache
	url = https://github.com/kpdecker/user-image-cache.git
